@page "/demohotel"
@using BlazorAmenities = HotelManagement.Server.Models.BlazorAmenities

<PageTitle>Demo Hotel</PageTitle>

<div class="bg-light border p-2 mt-2">
    <h1 class="text-info">لیست اتاق ها</h1>
    <span>تعداد اتاق های انتخاب شده - @SelectedRooms</span>
    <div class="row container">

        @foreach (var room in _blazorRooms)
        {
            <IndividualRoom OnRoomCheckboxSelection="RoomSelectionCounterChanged" Room="room"></IndividualRoom>
        }

    </div>

    <h1 class="text-info">امکانات</h1>

    <div class="row container">

        @foreach (var amenity in _amenitiesList)
        {
            <IndividualAmenity OnAmenityClicked="AmenitySelectionChanged" Amenity="amenity"></IndividualAmenity>
        }

    </div>
    <div class="row col-12">
        <label>امکانات انتخاب شده : @SelectedAmenity</label>
    </div>
</div>

@code {

    public int SelectedRooms { get; set; }
    public string? SelectedAmenity { get; set; }  

    private readonly List<BlazorRoom> _blazorRooms = new();
    private readonly List<BlazorAmenities> _amenitiesList = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _blazorRooms.AddRange(new List<BlazorRoom>
        {
            new()
            {
                RoomName = "سوئیت پادشاه",
                Id = 101,
                Price = 499,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp>
                {
                    new()
                    {
                        Name = "Sq Ft",
                        Value = "100",
                        Id = 1
                    },
                    new()
                    {
                        Name = "Occupancy",
                        Value = "6",
                        Id = 2
                    }
                }
            },
            new()
            {
                RoomName = "سوئیت ملکه",
                Id = 102,
                Price = 399,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp>
                {
                    new()
                    {
                        Name = "Sq Ft",
                        Value = "75",
                        Id = 1
                    },
                    new()
                    {
                        Name = "Occupancy",
                        Value = "4",
                        Id = 2
                    }
                }
            }
        });

        _amenitiesList.AddRange(new List<BlazorAmenities>
        {
            new()
            {
                Id = 111,
                Name = "باشگاه",
                Description = "باشگاه 7 روز هفته در 24 ساعت شبانه روز دایر است"
            },
            new()
            {
                Id = 222,
                Name = "استخر",
                Description = "استخر از 8 صبح تا 10 شب دایر است"
            },
            new()
            {
                Id = 333,
                Name = "صبحانه رایگان",
                Description = "از صبحانه رایگان در بیرون هتل لذت ببرید"
            }
        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected void AmenitySelectionChanged(string amenityName)
    {
        SelectedAmenity = amenityName;
    }
}
