@page "/learnadvancedrouting"
@using System.Web
@inject NavigationManager NavigationManager

<h3>LearnAdvancedRouting</h3>

<h4>Parameter 1 : @Param1</h4>
<h4>Parameter 2 : @Param2</h4>

<p>
    <button class="btn btn-primary" @onclick="LoadParameters">Load Parameters</button>
    @*<NavLink href="/learnrouting" class="btn btn-secondary">Back to routing</NavLink>*@
    @*<a href="/learnrouting" class="btn btn-secondary">Back to routing</a>*@
    <button class="btn btn-secondary" @onclick="BackToRouting">Back to routing</button>
</p>

@code {

    private string Param1 = default!;

    private string Param2 = default!;

    private void LoadParameters()
    {
        var absoluteUri = new Uri(NavigationManager.Uri);

        var queryParam = HttpUtility.ParseQueryString(absoluteUri.Query);
        Param1 = queryParam["Param1"] ?? default!;
        Param2 = queryParam["Param2"] ?? default!;
    }

    private void BackToRouting()
    {
        NavigationManager.NavigateTo("/learnrouting");
    }
}
