@page "/hotel-room"

<div class="row mt-4">
    <div class="col-8"></div>
    <h4 class="card-title text-info">Hotel Rooms</h4>
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info form-control">Create Hotel Room</NavLink>
    </div>
</div>